.s{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.card{
 text-align: center;
 height: 460px;
 
}

.card img{
    height:270px;
}
/* .m{
    background: #009A49;
background: linear-gradient(96deg, rgba(0, 154, 73, 1) 0%, rgba(252, 209, 22, 1) 39%, rgba(239, 51, 64, 1) 100%);
} */
.total3{
    background-image:linear-gradient(rgba(218, 192, 132, 0.384)), url(./pexels-hebaysal-773471.jpg) ;
}    


footer i{
    font-size: 20px;
}
.x{
    background:rgb(240, 229, 229)

}

.main{
    background-color: rgb(230, 228, 227);
    
}

footer{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(24, 32, 46);
    color: white;
}

.total{
    font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(218, 192, 132, 0.384)), url(./pexels-hsapir-1109894.jpg) ;
}
.a{
    text-align: center;
    font-size: 60px;
    padding-top:20px ;

}
.intro hr{
    width:100px ;
    height: 60px;
 align-items: center; 
 padding-left: 400px;
}

.sec1 img{
    text-align: right;
    border: 2px black solid;
    width: 269px;
  height: 60vh;
}
.z{
    font-size: 15px;
}

.sec1{

   /* width: 400px; */
    /* display: flex; */
    /* padding: 10px; */
   
}
.contain{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 120px;
}
.contain1{
display: flex;
justify-content: space-around;
align-items: center;

margin-top: -50px;
}
.q{
  border: 2px black solid;   
  width: 269px;
  height: 60vh;
  padding: 15px;
  margin-right: 269px;
  margin-bottom: 160px;
   margin-top: -386.5px;
}
.total{
    display: flex;
}
.all{
    /* border: 1px black solid; */
    padding: 10px;
    text-align: center;
      background-color: rgba(211, 192, 109, 0.884);
     border-radius: 10px;
   
   
}
.title{
       text-align: center; 
       position: relative;
}
.title::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.959);
    right: 510px;
}
.flags{
    margin-top: 20px;
 display: flex;
    text-align: center;
    justify-content: space-around;  
    align-items: center;
     padding: 15px;

}
.flag1{
    border-radius: 10px;
     width: 290px;
     height: 690px;
     background-color: white;
     box-shadow: 1px 0px 15px 6px;
}
.flag2{
    
     width: 290px;
     height: 690px;   
     background-color: rgb(255, 255, 255);
     border-radius: 10px;
       box-shadow: 1px 0px 15px 6px;
     
}
mn{
    color: rgb(210, 16, 52);
}
.flag3{
      width: 290px;
     height: 690px;   
     background-color: rgb(255, 255, 255);
     border-radius: 10px;
      box-shadow: 1px 0px 15px 6px;
   
}
.flag3 img{
    border-radius:10px 10px 0px 0px ;
     width: 100%;
     height: 200px;
}
.flag2 img{
 border-radius:10px 10px 0px 0px ;
  width: 100%;
   height: 200px;
}
.flag1 img{
 border-radius:10px 10px 0px 0px ;
 width: 100%;
  height: 200px;
}
.flagss{
     display: flex;
    text-align: center;
    justify-content: space-around;  
    background-color: lightcoral; 
}
.flag11{
         
     background-color: rgb(240, 229, 229);  
          width: 290px;
     height: 615px;   
     background-color: rgb(255, 255, 255);
     border-radius: 10px;  
}
.flag22{
     width: 275px;
     height: 600px;   
     background-color: rgb(240, 229, 229);  
          width: 290px;
     height: 615px;   
     background-color: rgb(255, 255, 255);
     border-radius: 10px;    
}
.flag33{
  width: 275px;
     height: 600px;   
     background-color: rgb(240, 229, 229); 
          width: 290px;
     height: 615px;   
     background-color: rgb(255, 255, 255);
     border-radius: 10px;   
}

.a{
    font-weight:100 ;
    font-size: 170px;
}
.text{

text-align: center;
    margin-right: 40px;
}
.total span{
   
    background-color: rgb(238, 183, 33);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
    

}
.flag11 img{
 border-radius:10px 10px 0px 0px ;
  width: 100%;
   height: 200px;
}
.flag22 img{
 border-radius:10px 10px 0px 0px ;
  width: 100%;
   height: 200px;
}
.flag33 img{
 border-radius:10px 10px 0px 0px ;
  width: 100%;
   height: 200px;
}

/* اسيا */

.total2{
     font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(230, 180, 16, 0.24)), url(./pexels-elina-sazonova-1907079.jpg) ;
}
.n2{
    text-align: center;
     font-size: 170px;
    padding-top:20px ;
        color: rgb(0, 0, 0);
        font-weight:100 ;
}

.text2 span{
     background-color: rgba(238, 183, 33, 0.801);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 22px;

}

.back1{
    background-color: linear-gradient(230, 180, 16, 0.24);
}
.tota {
  height: 100vh;
  margin: 15px;

}

#carouselExampleSlidesOnly,
#carouselExampleSlidesOnly .carousel-inner,
#carouselExampleSlidesOnly .carousel-item,
#carouselExampleSlidesOnly img {
  height: 100vh;
  object-fit: cover;   
}


#carouselExampleSlidesOnly .carousel-item img {
  transform: scale(1);
  transition: transform 4s ease;
}


#carouselExampleSlidesOnly .carousel-item.active img {
  transform:scale(1.09);
}
.cv{

}

.vv{
    background-color: rgba(238, 183, 33, 0.493);
}
.total3{

font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;}
  .n3{
 text-align: center;
     font-size: 170px;
    padding-top:20px ;
        color: rgb(0, 0, 0);
  } 
  
  .flags{

  }
  .text4 span{
 background-color: rgba(144, 148, 146, 0.808);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 30px;
  }
  .total4{
font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(116, 157, 180, 0.404)), url(./pexels-luis-dominguez-840099553-19477793.jpg) ;
  }
  .n4{
text-align: center;
     font-size: 170px;
    padding-top:20px ;
        color: rgb(0, 0, 0);
  }
.aya::after{
text-align: center; 
       position: relative;
}
.aya::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.959);
    right: 470px;
}
.n{
   font-family: "IBM Plex Sans Arabic", sans-serif;
}
.n p{
    font-size: 18px;
    /* font-weight: 200; */
}
  .text5 span{
 background-color: rgba(12, 194, 88, 0.61);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 30px;}
     .total5{
font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(116, 157, 180, 0.404)), url(./pexels-magnus-d-great-m-257700-2544854.jpg) ;
  }
  .n5{
text-align: center;
     font-size: 170px;
    padding-top:20px ;
        color: rgb(0, 0, 0);
  }



  .m{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 18px;
}.b{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 18px;
}.v{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 18px;
}.c{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 18px;
}
.x{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 18.2px;
}.z{
   font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 24px;
}

 .text6 span{
 background-color: rgb(136, 101, 6);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 30px;}
     .total6{
font-family: "Lemonada", cursive;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(165, 157, 42, 0.11)), url(./pexels-karola-g-5840733.jpg) ;
  }
  .n6{

     font-size: 170px;
    padding-top:20px ;
        color: rgb(0, 0, 0);
     
  }
 .ew{
    color: black;
 }
 .carousel-inner p{
font-size: 20px;
 }

 .text3 span{
     background-color: rgb(102, 98, 77);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
       border: 1px rgb(102,98,77) solid;
    font-size: 30px;
  }

